repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
    rev: v0.1.4
    hooks:
      # Run the linter.
      - id: ruff
      # Run the formatter.
      - id: ruff-format
  # - repo: https://github.com/PyCQA/bandit
  #   rev: '1.7.8'
  #   hooks:
  #     - id: bandit
  #       args: ["-c", "pyproject.toml"]
  #       additional_dependencies: ["bandit[toml]"]
  # - repo: local
  #   hooks:
  #   - id: pytest
  #     name: pytest
  #     language: system
  #     entry: poetry run pytest
  #     always_run: true
  #     pass_filenames: false

ci:
  # Leave pip-audit to only run locally and not in CI
  
  # pre-commit.ci does not allow network calls
  skip: [pip-audit]
